body {
	font-family: 'Lato', sans-serif;
}

button {
	font-family: 'Lato', sans-serif;
}

#start-screen {
	text-align: center;
	margin-top: 10%;
	border: 5px black;
	border-style: double;
	width: 350px;
	height: 350px;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Lato', sans-serif;
}

#game-screen {
	text-align: center;
	margin-top: 20%;
	font-family: 'Lato', sans-serif;
}

#input-field {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#back-button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#game-over-screen {
	text-align: center;
	font-family: 'Lato', sans-serif;
	margin-top: 20%;
}

#congratulations-message {
	text-align: center;
	margin-top: 21%;
}

#play-again-button {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { 
	body {
		font-size: 15px;
	}
	#start-screen {
		width: 300px;
		height: 330px;
		padding: 30px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body {
		font-size: 15px;
	}
	#start-screen {
		width: 300px;
		height: 330px;
		padding: 30px;
	}
}